@import '@variables';

.dropdown {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  padding: 0.5rem 1.5rem;

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px dotted $primary-color;
  }
}

.option {
  color: $secondary-color;
}
