@import '@variables';
@import '@mixins';

.type {
  color: $success-color;
}

.taskDisplay {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
  transition: all 0.15s ease-in-out;
  font-size: 0.875rem;
  color: $primary-color;
  background-color: #fff;
  width: 100%;
  padding: 0.75rem 3rem;
  justify-content: space-between;
  border: 2px solid $primary-color;
  user-select: none;
  overflow: hidden;
}

.taskName {
  margin: 0;
  padding: 0 0.5rem;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btnExplore {
  height: 2.75rem;
  width: 5.5rem;
}

.icon {
  display: block;
  height: 2.75rem;
  min-width: 2.75rem;
  width: 2.75rem;
}

.completedIcon {
  background-image: url('/images/complete.svg');
}

.lectureIcon {
  background-image: url('/images/lecture-not-completed.svg');
}

.practiceIcon {
  background-image: url('/images/practice-not-completed.svg');
}

.testIcon {
  background-image: url('/images/test-not-completed.svg');
}

@include mobile {
  .taskDisplay {
    flex-direction: column;
  }
}
