@import '@variables';
@import '@mixins';

.pageContainer {
  position: relative;
  padding: 0 6.25rem;
}

@include tablet() {
  .pageContainer {
    padding: 0 1.25rem;
  }
}

.btnPrimary {
  @include btn;

  background-color: $primary-color;
  border: 1px solid $secondary-color;
  font-size: 0.875rem;
  color: #fff;

  &:hover {
    background-color: rgb(81, 49, 243);
  }

  &:active {
    background-color: rgb(56, 14, 224);
  }
}

.btnSecondary {
  @include btn;

  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  color: $primary-color;

  &:hover {
    background-color: rgb(0 0 0 / 7%);
  }

  &:active {
    background-color: rgb(0 0 0 / 3%);
  }
}

.field {
  display: block;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: $secondary-color;
  padding: 0.75rem 0.5rem;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #656774;
  width: 100%;

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: inset 0 0 0 1px $primary-color;
  }
}

.field[aria-invalid] {
  border: 1px solid $error-color;

  &:hover {
    border-color: $error-color;
  }

  &:focus {
    border-color: $error-color;
    box-shadow: inset 0 0 0 1px $error-color;
  }
}

.label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: $secondary-color;
  margin-bottom: 0.33rem;
}

.link {
  color: $primary-color;
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}

.pageTitle {
  color: $secondary-color;
  font-weight: 700;
  font-size: 2.125rem;
  margin: 0;
  padding: 2rem 0;
}

.subtitle {
  font-size: 1.5rem;
  color: $secondary-color;
  font-weight: 500;
  margin: 0 0 1.25rem;
}
