@import '@variables';
@import '@mixins';

html {
  font-size: 16px;
  overflow-y: overlay;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: $neutral-color;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 140, 57);
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button,
input[type='checkbox'] {
  @include keyboardOutline;
}

button,
input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
