$primary-color: rgb(58, 16, 229);
$secondary-color: rgb(20, 27, 58);
$neutral-color: rgb(251, 237, 227);
$error-color: rgb(195, 25, 9);
$warning-color: rgb(199, 104, 7);
$success-color: rgb(19, 185, 25);
$progress-color: rgb(249, 207, 6);
