@import '@variables';

.filterContainer {
  display: flex;
  gap: 5rem;
  padding-top: 32px;
  overflow: hidden;
}

.title {
  margin: 0 0 1rem;
  color: $secondary-color;
  font-size: 1.125rem;
}

.list {
  padding: 0;
  margin: 0;
}

.term {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterLabel {
  width: 100%;
}

.checkbox {
  cursor: pointer;
  margin: 0;
  width: 1.143rem;
  height: 1rem;
  accent-color: $primary-color;
}
