{
  "trailingComma": "es5",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "endOfLine": "crlf",
  "importOrder": [
    "^[a-zA-Z]|(@redux)|(@react)",
    "^@(compo|uti|int|hook|stor|con|ima|HOC)",
    "^(@common.module.scss)|(./)|(@styles)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
