@import '@variables';
@import '@mixins';

.container {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1.15fr 1fr;
}

@include tablet() {
  .container {
    grid-template-columns: 1fr;
  }
}

.profile {
  display: flex;
  gap: 1rem;
}

.submit {
  width: 6.875rem;
  height: 2.188rem;
}

.member {
  color: $secondary-color;
  margin: 1.5rem 0 0;
}
