@import '@variables';
@import '@mixins';

.container {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1.15fr 1fr;
}

@include tablet() {
  .container {
    grid-template-columns: 1fr;
  }
}
