@import '@variables';
@import '@mixins';

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logoImage {
  display: block;
  height: 2.188rem;
  width: 2.188rem;
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.siteName {
  margin: 0;
  font-size: 1.65rem;
  color: $secondary-color;
}

@include mobile {
  .siteName {
    display: none;
  }
}
