@import '@variables';

.todoSection {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.todo {
  font-size: 2.375rem;
  color: $secondary-color;
  text-align: center;
  margin: 0 0 3.5625rem;
}

.description {
  font-size: 2rem;
  color: $secondary-color;
  text-align: center;
  word-break: break-all;
  margin: 0;
}

.descriptionContainer {
  margin: 0 auto;
}

.block {
  padding: 2.125rem;
  background-color: #fff;
}
