@import '@variables';

.codesandboxContainer {
  background-color: #2f3237;
  overflow: hidden;
  height: 450px;
  margin-bottom: 1.5rem;
  border: 1px solid $secondary-color;
}

.codesandboxFrame {
  border: none;
}
