@import '@variables';

.header {
  background-color: $primary-color;
  padding: 7rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 2rem;
  margin: 0 0 1.125rem;
  text-align: center;
}

.images {
  margin-bottom: 1rem;
  display: flex;
}

.courseImageWrapper {
  margin-left: -1rem;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  width: 64px;
  height: 64px;
}

.subtitle {
  font-size: 1rem;
  max-width: 35rem;
  margin: 0;
  text-align: center;
  color: #fff;
}
