@import '@variables';
@import '@mixins';

.searchContainer {
  background-color: #fff;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  padding: 2rem 0;
}

.searchPanel {
  display: flex;
  gap: 1rem;
  z-index: 799;
}

.filter {
  width: 9.875rem;
  border: 2px solid $primary-color !important;
  gap: 0.75rem;
}

.totalContainer {
  padding: 0.875rem;
  background-color: #ffd300;
}

.total {
  user-select: none;
  pointer-events: none;
  margin: 0;
  white-space: nowrap;
  color: $secondary-color;
  font-weight: 500;
}

.dropdownIcon {
  display: block;
  transition: transform 0.2s ease-in;
  background: url('../../../public/images/dropdown.svg') no-repeat center;
  width: 0.75rem;
  height: 0.75rem;
}

.dropdownIconReverse {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 3.25rem;
  right: 0;
  z-index: 800;
  width: 100%;
  border-bottom: 1px solid $secondary-color;
  background-color: rgb(255, 255, 255);
}

@include mobile {
  .filterContainer {
    flex-direction: column;
    align-items: center;
  }
  .totalContainer {
    display: none;
  }
}
