@import '@mixins';

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.noPadding {
  padding: 0 !important;
}

@include tablet {
  .table {
    grid-template-columns: 1fr 1fr;
  }
}

@include mobile {
  .table {
    grid-template-columns: 1fr;
  }
}
