@import '@variables';
@import '@mixins';

.userCoursesContainer {
  padding: 1.75rem;
  background-color: $neutral-color;
  margin-top: 1.75rem;
}

.noCourses {
  font-size: 1.5rem;
  color: $secondary-color;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

@include tablet() {
  .userCoursesContainer {
    padding: 1.25rem;
  }
}

@include mobile() {
  .userCoursesContainer {
    padding: 0.8rem;
  }
}
